.prioritize-list {
  list-style: none;
}

.prioritize-list li {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.sortable-placeholder {
  height: 1.5em;
  background: #FEFFF0;
  line-height: 1.2em;
}
