.prioritize-list li {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  cursor: move;
}

.sortable-placeholder {
  height: 1.7em;
  background: #FEFFF0;
  line-height: 1.2em;
}
